<div class="content-container">

	<img style="float:right; padding-left:20px; width: 200px;" src="/ukc2016-hailey/src/img/ksealogo_b.png" />
	<a href="http://www.ksea.org" target="_blank">KSEA</a> was established in 1971 as a non-profit professional organization and has grown to over 10,000 registered members with over 75 local chapters and branches and 13 technical groups across the United States
	<h5>Vision</h5>

	The organization objectives are to<br>

	<ul>
	<li>Promote the application of science and technology for the general welfare of society</li>
	<li>Foster international cooperation especially between the U.S. and Korea</li>
	<li>Help Korean-American Scientists and Engineers develop their full career potential</li>
	</ul>

	<h5>Mission</h5>

	To provide, in the areas of science, technology and entrepreneurship, opportunities for: <br>
	<ul>
	<li>International Cooperation</li>
	<li>Career Development</li>
	<li>Community Service</li>
	</ul>
	<h5>Membership Benefits</h5>
	<ul>
	<li><b>Leadership development through committee activities and conference organization</b><br>
	You may participate in any of 14 Technical Groups and 10 Standing Committees. You may organize technical sessions at the annual U.S.-Korea Conference on Science, Technology, and Entrepreneurship (UKC) or organize a regional or local conference of your own.</li><br>
	<li><b>Development of broad professional foundation</b><br>
	KSEA is unique in that its members come from all fields of science and engineering. The UKC offers an excellent opportunity to collaborate with other professionals who work in different fields.</li><br>
	<li><b>Networking with other Korean-American scientists and engineers</b><br>
	Join the Technical Groups and Committees, or come to the annual conference, UKC.</li><br>
	<li><b>You may use KSEA Office while in DC</b><br>
	If you need a temporary office while in DC, you may come to the <a href="http://www.ksea.org/home/?q=node/121" target="_blank">KSEA Headquarters office</a>. Nominal charges may apply for office support or supplies.</li><br>
	<li><b>Participation in technical evaluation and consulting</b><br>
	  <a href="http://www.ksea.org/home/?q=node/117" target="_blank">KSEA</a> will contact you when your expertise is sought after.</li>
	</ul>
	<h5>Activities</h5>
	<ul>
	<li>Annual Meeting & Technical Conference                         </li>
	<li>Publication of KSEA Letters                                   </li>
	<li>National Math & Science Competition                           </li>
	<li>Scholarships                                                  </li>
	<li>Young Generation programs                                     </li>
	<li>Exchange Programs                                             </li>
	<li>Job Referrals                                                 </li>
	<li>Career Development Programs                                   </li>
	<li>Sponsored Projects                                            </li>
	<li>Technical Evaluation and Consulting                           </li>
	<li>Topical Symposia/Workshops                                    </li>
	<li>Library Service                                               </li>
	<li>Database Development                                          </li>
	<li>Sponsorship of Conferences                                    </li>
	<li>Awards and Honors                                             </li>
	<li>Science & Technology Programs for General Public              </li>
	<li>Web and e-Mail Services                                       </li>
	</ul>
	<h5>Regional Programs</h5>
	<ul>
	<li>Regional technical conferences</li>
	<li>Young generation programs</li>
	<li>Seminars/Workshops</li>
	</ul>
	<h5>Membership Fee (<a href="http://www.ksea.org/home/?q=node/117" target="_blank">Annual Dues</a>)</h5>
	<ul>
	<li>$35 for Regular Members</li>
	<li>$15 for Graduate Students</li>
	<li>Free for Undergraduate Students</li>
	<li>$35 for International Members</li>
	</ul><br><br>
	<P>For more information, visit <a href="http://www.ksea.org/" target="_blank">www.ksea.org</a></P>						
</div>