<div class="text-container">
	<h2>US-Korea Conference</h2>
US-Korea Conference (UKC) is the flagship conference of Korean-American 

Scientists and Engineers Association (KSEA). It is the biggest US-Korea conference 

that covers science, engineering, technology, industry, entrepreneurship, and 

leadership. UKC attracts more than 1200 participants from both US and Korea. We 

planned for a maximum of 1500 participants this year.

UKC is a conference that facilitates US-Korea cooperation on recent developments in 

science, engineering, technology, industry, and entrepreneurship. It also has a 

leadership program for young students and professionals.

UKC has a long history. It started as a moderate KSEA Symposium in 1974. It grew 

into the US-Korea Science & Technology Forum/Symposium in 1993 and expanded 

further to the US-Korea Conference (UKC) in 1999. The tradition continues today as 

UKC 2016. 

The backbone of the UKC is science and technology program. KSEA has 13 technical 

groups. These are put into a basic science program and an industry technology 

program of all engineering and technologies that support industry. Each program is 

usually composed of several symposia to share current trends in these areas.

An emerging technology program presents a focused small group of cutting edge 

technologies of today including biotechnology, nanotechnology, robotics, grapheme, 

etc.

A symposium on climate change and corresponding small and medium business 

workshops to discuss the impending issue, possibility for its solution and reflecting 

them rapidly into everyday lives.

An entrepreneurship program carries CEO/CTO forum, industry forums, intellectual 

property forum, job fairs, and recruitment interviews.

The Young Generation & Professional Forum (YGPF) is designed to provide an 

opportunity for leadership and career development with a little touch of social 

activities for fun.

UKC is hosted by KSEA, KOFST, and NRF_KUSCO. More than 200 volunteers prepare 

UKC in various roles:

- Conference Chair: KSEA president-elect

- Conference Co-Chairs: KOFST president, NRF president

- UKC Executive Committee

- Steering Committee

- Program Committee

- Sponsor Program Committee

- Local Arrangement Committee

- Advisory Committee

- Fund-raising Committee

- Web Committee

- Student Volunteers
</div>