<div class="text-container">
	<h3>Dear UKC2016 participants, colleagues and KSEA members,</h3>
	

We are happy to welcome you all to the 2016 US-Korea 
Conference on Science, Technology and Entrepreneurship (UKC 2016), jointly organized by the Korean-American Scientists and Engineers Association (KSEA) and The Korean Federation of 

Science and Technology Societies (KOFST).  UKC 2016 will be 

held between August 10 and August 13, 2016 in the Hyatt 

Regency DFW Airport. The theme of UKC 2016 is "Enriching 

Lives through Science, Technology and Entrepreneurship" and its 

goal is to promote solving issues of the world through science, 

technology and entrepreneurship to greatly improve the quality of 

people’s lives.  I believe this year’s UKC will not only be a 

festival of scientists and engineers but also that of the general 

public, bringing science and technology closer to them.

<br><br>
In this regard, we are excited to announce fifteen symposia for UKC 2016. World-class researchers will share their knowledge and 

experience, covering a wide range of science and engineering areas and the subject of global climate change that encompasses 

throughout large disciplines. The presentations and discussions in these symposia will surely give participants excellent direction 

regarding future research in their respective fields.

Continuing the tradition of previous UKC’s, the other backbone component of UKC 2016 is a group of named forums that are 

designed to meet the specific needs of sponsors who will provide opportunities to develop state-of-the-art research ideas and 

proposals, panel meetings of top-quality experts in the sponsors' areas of interest, and inputs to the sponsors' research programs from 

independent experts, to name a few examples.  These forums will be the place to plant the seed of issues which will be nurtured 

throughout the year via joint projects with sponsors and harvest their fruits at the next UKC.  The UKC 2016 is expected to draw over 

1,200 outstanding scientists, engineers, professors, high-ranking government officials, industry executives, and policy-makers from 

both the US and Korea. The named forums will provide excellent opportunities for these scientists and engineers from both countries 

to exchange ideas and develop avenues for networking and research collaboration beyond UKC 2016. 

Another unique feature of UKC 2016 is that the theme of this conference, "Enriching Lives through Science, Technology and 

Entrepreneurship," will be highlighted by offering several public forums to bring science and engineering one step closer to general 

public and to increase and expand the interests on UKC to a broader range of audience and ethnicity.   

Greatly enhancing the technical excellence of the UKC 2016 programs and enriching environment of the conference, the near by 

towns - Dallas, Fort-Worth and Arlington - offer excellent sightseeing opportunities for conference participants and their families - 

such as Texas Rangers Baseball Game outings, Fort-Worth Stock Yard, many museums and galleries in Dallas and Fort-Worth and 

the beautiful Dallas Cowboy Stadium in Arlington to name a few.  

These programs of unparalleled excitement are the fruits of tremendous efforts of many strong and dedicated leaders as well as the 

steadfast support from the sponsors.  In this regard, our sincere thanks go to the members of the Executive Committee, Program 

Committee including Symposium chair and co-chairs, the Local Arrangement Committee, Sponsor Program Committee, the 

Computing and Website Committee, and the many sponsors of UKC2016!

We welcome your participation and look forward to seeing you all in Dallas, TX, at UKC 2016!
<br><br><br>


<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/src/img/Jaehoon_Yu.jpg">
			<div class="caption">
				<h3>Jaehoon Yu</h3>
				<p>UKC 2016 Chair and KSEA 45th President<br>
				Professor of Physics, University of Texas at Arlington</p>
			</div>
		</div>
    </div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/src/img/Boo-Sup_Lee_kofst_president2.jpg">
			<div class="caption">
			<h3>Boo-Sup Lee</h3>
				<p>UKC 2016 Co-Chair<br>
				and KOFST President</p>
			</div>
		</div>
	</div>
</div>


</div>