	<div class="content-container">
			<table width="655" align="center" style="margin:auto;">
						<tr>
							<td width="647" align="center"><br>
							  <table style="border:#EBEBEB solid 1px;" width="657" border="0" align="center" cellpadding="0" cellspacing="0">
							    <tr>
							      <td width="82" style="padding:5px;">&nbsp;</td>
							      <td width="103" align="center" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>&nbsp;WED (8/10)</b></td>
							      <td width="113" align="center" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>&nbsp;THU (8/11)</b></td>
							      <td width="117" align="center" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>&nbsp;FRI (8/12)</b></td>
							      <td width="122" align="center" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>SAT (8/13)</b></td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>7:00</b><b>am -8:00am</b></td>
							      <td rowspan="5" style="padding:5px; border:#EBEBEB solid 1px;background-color:#B9BDC4">&nbsp;</td>
							      <td colspan="3" style="padding:5px; border:#EBEBEB solid 1px;background-color:#D7DEE1">Breakfast </td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>8:30am<br />
						          -</b><b>10:00am</b></td>
							      <td style="padding:5px; border:#EBEBEB solid 1px;background-color:#B5DDE1">Opening Plenary</td>
							      <td valign="top" style="padding:5px; border:#EBEBEB solid 1px;background-color:#B5DDE1">AM Parallel Session</td>
							      <td valign="top" style="padding:5px; border:#EBEBEB solid 1px;background-color:#B5DDE1">Closing Plenary</td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>10:00am<br />
						          -10:30am</b></td>
							      <td colspan="3" style="padding:5px; border:#EBEBEB solid 1px;background-color:#D7DEE1">Coffee  Break</td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>10:30am<br />
							      -12:00pm</b></td>
							      <td colspan="3" valign="top" style="padding:5px; border:#EBEBEB solid 1px;background-color:#B5DDE1">AM Parallel Session</td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>12:00pm<br />
							        -1</b><b>:30pm</b></td>
							      <td colspan="3" style="padding:5px; border:#EBEBEB solid 1px;background-color:#D7DEE1">Lunch </td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>1:30pm<br />
							        -3:30pm</b></td>
							      <td rowspan="2" style="padding:5px; border:#EBEBEB solid 1px;background-color:#D7DEE1;">Registration Open</td>
							      <td colspan="2" valign="top" style="padding:5px; border:#EBEBEB solid 1px;background-color:#B5DDE1">PM Parallel Session</td>
							      <td rowspan="4" style="padding:5px; border:#EBEBEB solid 1px;background-color:#B9BDC4">Departure</td>

						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>3:30pm<br />
							        -
						          4:00pm</b></td>
							      <td colspan="2" style="padding:5px; border:#EBEBEB solid 1px;background-color:#D7DEE1">Coffee  Break</td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>4:00pm<br />
							        -5:30pm
							      </b><b></b></td>
							      <td colspan="2" style="padding:5px; border:#EBEBEB solid 1px;background-color:#B5DDE1">PM Parallel Session</td>
							      <td style="padding:5px; border:#EBEBEB solid 1px;background-color:#B5DDE1">Plenary</td>
						        </tr>
							    <tr>
							      <td align="right" style="padding:5px; border:#EBEBEB solid 1px;background-color:#069; color:#FFF"><b>6:30pm<br />
						          -9:30pm</b></td>
						          <td style="padding:5px; border:#EBEBEB solid 1px;background-color:#A4DBB5">VIP Dinner</td>
							      <td style="padding:5px; border:#EBEBEB solid 1px;background-color:#A4DBB5">Aquarium Dinner</td>
							      <td style="padding:5px; border:#EBEBEB solid 1px;background-color:#A4DBB5">Networking Dinner</td>
						        </tr>
						      </table>							  <br>
						  </td>
						</tr>
					</table>
		  </div>