Symposium Support Guideline

February 1, 2016

Symposium chair/co-chair are highly encouraged to raise discretionary fund and are expected to use this fund to enhance the quality of UKC symposium.  Here are three ways to raise the fund.

Recruiting US companies for booth exhibition
Symposium chair is encouraged to find minimum five U.S. companies who are interested in setting up company booth during UKC 2016.  The charge for setting up a booth is $2,000.
60% of the booth fee (i.e., $1,200) is returned to symposium chair as a discretionary fund.

Recruiting company support 
Symposium chair is encouraged to find companies who are interested in supporting UKC 2016 (e.g., specific forum, session). A company who can support over $3,000 will be officially acknowledged based on the UKC sponsorship guideline (i.e., Platinum, Diamond, Gold, Silver, Bronze, Copper, and General).
To unify the contact point, symposium chair must consult with Conference Chair (i.e., PE Jaehoon Yu) prior to contacting any company.  We should avoid contacting a company twice.
If the level of support is less than $3,000, 50% of support will be provided to a symposium chair as a discretionary fund.  If the level of support is more than $3,000 (minimum amount for General sponsor), a flat amount of $1,500 will be provided to a symposium chair regardless of the sponsorship level.
Total amount of returning fund to a symposium should not exceed $3,000.

Hosting forum
Several forums have been identified by the UKC team and will be assigned to symposiums related to the sponsor’s area of interest.
By hosting a forum, a discretionary fund will be provided to a symposium chair based on the number of forums: $1,500 for the first forum, $1,000 for second, and $500 for third and more.  

Example calculation: If Symposium ABC finds three company booths, two monetary sponsorships ($4,000 and $2,500), and hosts two forums, then total of $8,850 is available as a discretionary fund for Symposium ABC.
Company booth: $3,600 (= $2,000 x 3 companies x 60%)
Sponsorship: $2,750 (= $3,000 x 50% + $2,500 x 50%)
Forum: $2,500 (= $1,500 + $1,000)

Spending guideline
Discretionary fund should be used to enhance the quality of each symposium or forum.
Discretionary fund should be spent within the UKC conference program, including speaker travel support and conference meal support (e.g., aquarium, networking dinner).
Travel support for invited speakers or panel members should not exceed the support plan for Session Invited with additional one-day meals. Any support that exceeds this guideline should be approved by the UKC Finance Director prior to the expenditure.
Discretionary fund should not be used for outside the UKC conference program (e.g., outside dinner).
Symposium chair must submit a spending plan to the UKC Finance Director by May 30, 2016 and must receive an approval prior to the expenditure.  

If you have any questions, please contact the UKC Chair (Jaehoon Yu, ukc16jy@gmail.com) and the Finance Director (Donghyun Shin, shin@uta.edu).